*
!*/
!img/*.png
!in/.gitkeep
!liquidus/.gitkeep
!out/.gitkeep
!plots/.gitkeep
!summary/.gitkeep
!.gitignore
!.gitattributes
!sample_config.json
!sample_start.csv
!README.md
!auto_melts.py
!convert_results.py
!gen_melts.py
!processing.py
!search_liquidus.py