*
!*/
!img/*.png
!in/.gitkeep
!liquidus/.gitkeep
!out/.gitkeep
!plots/.gitkeep
!summary/.gitkeep
!cntr/.gitkeep
!samples/start.csv
!samples/config.json
!.gitignore
!.gitattributes
!README.md
!README-ja.md
!auto_melts.py
!convert_results.py
!gen_melts.py
!processing.py
!plot_ptx.py